<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecommage_voucher" translate="label" sortOrder="10">
            <label>Voucher</label>
        </tab>
        <section id="voucher_setup" translate="label" sortOrder="138" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Voucher</label>
            <tab>ecommage_voucher</tab>
            <resource>Ecommage_EcommageVoucher::ecommagevoucher</resource>
            <group id="voucher_after_sale" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Choose Voucher Give Customer</label>
                <field id="customer_voucher" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Voucher</label>
                    <source_model>Ecommage\EcommageVoucher\Model\Config\Source\VoucherOption</source_model>
                </field>
            </group>

            <group id="template_voucher_send" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Choose Template Send</label>
                <field id="template_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email template is chosen based on theme fallback when "Default" option is selected.</comment>
                </field>
            </group>
        </section>

    </system>
</config>

