<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ecommage_BuyTogether::pack" title="Buy Together" module="Ecommage_BuyTogether" action="ebtfix/pack/index" sortOrder="10" resource="Ecommage_BuyTogether::pack"/>
    </menu>
</config>
